.header{
    width: 100%;

    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
    top: 40px;
}

.header__logo{
    display: flex;
    flex-wrap: wrap;
    
}

.header__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 60px;
    margin-right: 10px;
}

.logo__text{
    font-family: Audiowide;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
    max-width: 150px;
}

.class__inner{
    font-size: 18px;
    line-height: 21px;

    color: #000000;
    text-decoration: none;
    overflow: hidden;
    transition: all linear .3s;
}

.class__inner:hover{
    color: #FFFFFF;

    text-shadow: -1px 0px 3px #000000, 1px 0px 3px #000000;
}

.class:last-child{
    margin: 0;
}

.classes{
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.main{
    top: 340px;
    width: 100%;

    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;

}

.main__inner{
    display: flex;
    align-items: center;
}



.left__text{
    max-width: 860px;
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.buy{
    background: #FFFFFF;
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    width: 570px;
    height: 120px;

    color: #000000;
    text-transform: uppercase;
    margin-top: 22px;
    transition: all linear .3s;
    outline: none;
}
.buy:hover{
    background-color: #92caf2;
}

.buy:focus{
    background-color: #000;
    color: #fff;
}


.about{
    top: 995px;
    width: 100%;

    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
}

.about__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 55px;
}

.about__title{
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;

    color: #000000;
    text-align: center;
}

.card{
    background: #FFFFFF;
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    max-width: 370px;
    min-height: 405px;
}

.card__logo{
    margin-top: 25px;
    font-size: 100px;
    margin-left: 135px;
    margin-bottom: 35px;
    
    color: #92caf2;
}

.card__title{
    max-width: 370px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
    margin-bottom: 45px;
}

.card__logol{
    margin-top: 25px;
    font-size: 100px;
    margin-left: 135px;
    margin-bottom: 56px;
    
    color: #92caf2;
}

.card__titlel{
    max-width: 370px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
    margin-bottom: 62px; 
}

.card__info{
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.footer{
    height: 145px;
    background-color: #000832;
    top: 1645px;
    width: 100%;

    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
}

.footer__title{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;

    color: #FFFFFF;

}

.mail{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.footer__logo{
    font-size: 50px;
    color: #92caf2;
    margin-right: 10px;
}

.mail__herf{
    text-decoration: none;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;
}

.footer__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.footer__prava{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;

    color: #FFFFFF;
    margin-top: 25px;
}